:root {
    --primary-color: #191970;
    --secondary-color: #648de5;
    --highlighted: #ff9710;
    --border: #d3d0cb;
    --black-tone: #1e2019;
    --white-tone: #fff;
    --headline: "Merriweather Sans", sans-serif;
    --content: "Lato", sans-serif;
    --cursor: pointer;
    --font-size-1: 1rem;
}

nav ul li a {
    color: var(--black-tone);
}


@media (min-width: 32em) {
    .subscribe-tablet-control {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 64em) {
    /* header */

    header {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        box-shadow: 1px 1px 14px #dedede;
    }

    nav {
        display: flex;
        align-items: center;
        order: 0;
    }

    nav ul li a {
        text-decoration: none;
        white-space: nowrap;
    }

    nav ul li {
        padding: 1rem;
    }

    nav ul li:hover {
        cursor: var(--cursor);
        background-color: var(--highlighted);
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo,
    .call-number {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        order: 0;
        padding: 1rem;
    }

    .logo-img {
        width: 48px;
        height: auto;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
    }

    /* section */

    .invite-form div p,
    .invite-form div h2 {
        text-align: center;
        padding: var(--padding-0);
    }

    .offer,
    .offer div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .connector {
        position: absolute;
        background-color: var(--highlighted);
        z-index: -1;
    }

    .connector-horizontal {
        height: 6px;
    }

    .connector-vertical {
        width: 6px;
    }

    .selector ul li {
        width: 250px;
    }

    .roadmap-set {
        width: 1080px;
        margin: 0 auto;
    }

    .connector {
        display: block;
    }

    .faq {
        padding: var(--padding-1);
    }

    .faq img {
        background-image: url('..images/magicians-school-large.webp');
    }

    .newsletters {
        display: flex;
        flex-direction: row;
        background-color: var(--border);
    }

    .newsletters img {
        width: max-content;
        height: auto;
    }

    form.news {
        width: 90%;
    }

    form.news .form-group input[type="email"] {
        content: "";
        background-image: url('../images/email.svg');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-size: 2.5rem;
        padding-left: 3.5rem;
        min-width: 480px;
        font-size: var(--font-size-1);
      }

      form.news label {
        font-size: 1.1rem;
      }

      .subscribe-tablet-control {
        width: 100%;
      }

      .comparative {
        margin: 0 auto;
        max-width: 1080px;
      }
}