:root {
    --primary-color: #191970;
    --secondary-color: #113582;
    --highlighted: #ff9710;
    --border: #d3d0cb;
    --black-tone: #1e2019;
    --gray-tone: #dedede;
    --white-tone: #fff;
    --headline: "Merriweather Sans", sans-serif;
    --content: "Lato", sans-serif;
    --cursor: pointer;
    --padding-0: .80rem;
    --padding-1: 1.2rem;
    --radius: 16px;
    --margin-1: 1rem;
    --margin-2: 1.8rem;
    --font-size-1: 1rem;
}

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headline);
}

p,
span,
a,
button,
legend,
input[type="text"] input[type="tel"],
label {
    font-family: var(--content);
    padding: 10px;
}

.capitalize {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--highlighted);
}

.button,
input[type="submit"],
input[type="button"],
input[type="radio"]:hover,
button:hover,
.faq summary:hover {
    cursor: var(--cursor);
}

li {
    list-style: none;
}

.highlighted {
    background-color: var(--highlighted);
}

.highContrast {
    filter: invert();
}

.flex-column {
    flex-direction: column;
}

/* form */

.form-group:has(input[type="radio"]) label::after,
.form-group:has(input[type="text"][required]) label::after,
.form-group:has(input[type="email"][required]) label::after {
    content: "*";
    color: red;
    margin-left: 5px;
    font-size: var(--font-size-1);
}

form.box-shadow {
    box-shadow: 1px 1px 14px #000;
}

form.signup {
    background-color: var(--white-tone);
    max-width: 400px;
    min-width: 380px;
}

form.complete-form {
    margin: 1rem auto;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: var(--radius);
    margin: 0 auto;
    margin: var(--padding-1);
}

form img {
    height: 160px;
}

form fieldset {
    width: 90%;
    margin: 0 auto;
    border: 0;
}

.form-group {
    display: flex;
    margin-bottom: .5rem;
}

input[type="radio"] {
    margin: var(--padding-1);
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    font-size: var(--font-size-1);
    font-family: var(--content);
    border: 1px solid var(--gray-tone);
    color: var(--black-tone);
    padding: var(--padding-1);
}

form input[type="button"],
form input[type="submit"],
button,
.button {
    padding: var(--padding-0);
    background-color: var(--highlighted);
    color: var(--black-tone);
    outline: 0;
    border: 0;
    border-radius: var(--radius);
    margin: 1.2rem;
    font-family: var(--content);
    font-size: var(--font-size-1);
    font-weight: 800;
}

.button {
    max-width: fit-content;
}

/* animations */

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }

}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-10px);
        opacity: 0.7;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* header */

nav {
    order: 2;
}


nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: .75rem;
}

header {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 14px #dedede;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    order: 2;
}

.logo h1 {
    text-align: center;
}

.logo-img {
    width: 68px;
    height: 68px;
    order: 2;
}

.call-number {
    display: flex;
    order: 1;
    justify-content: flex-end;
    padding: .32rem;
}

.call-number a {
    color: var(--black-tone) !important;
}

/* section */

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-1);
}

.offer button {
    color: var(--black-tone);
    background-color: var(--highlighted);
    outline: none;
    border: 0;
    padding: var(--padding-1);
    border-radius: var(--radius);
    font-weight: 600;
    margin: var(--margin-1);
}

.timer {
    text-decoration: underline;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: var(--font-size-1);

}

/* section: invite-form */

.invite-form {
    background-image: url(../images/background.webp);
    background-blend-mode: multiply;
    background-color: rgba(26, 26, 116, 0.9);
    display: grid;
    background-size: cover;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-items: center;
    align-items: center;
}

.invite-form div p,
.invite-form div h2 {
    text-align: center;
    padding: 10px;
}

.character {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sprite {
    display: inline-block;
    vertical-align: middle;
}

.floating {
    animation: floatAnimation 3s infinite alternate;
}

.sprite {
    background-image: url(../images/programming.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.sprite.css_webp {
    background-position: 0 0;
    width: 48px;
    height: 54px;
    justify-self: center;
}

.sprite.javascript_webp {
    background-position: 0 -58px;
    width: 48px;
    height: 48px;
    justify-self: center;
}

.sprite.typescript_webp {
    background-position: 0 -110px;
    width: 48px;
    height: 48px;
    justify-self: left;
}

.sprite.html5_webp {
    background-position: 0 -162px;
    width: 48px;
    height: 54px;
    justify-self: left;
}

.sprite.python_webp {
    background-position: 0 -220px;
    width: 48px;
    height: 50px;
    justify-self: right;
}

.sprite.swift_png {
    background-position: 0 -274px;
    width: 48px;
    height: 51px;
    justify-self: right;
}

.sprite.bashshell_webp {
    background-position: 0 -329px;
    width: 48px;
    height: 54px;
    justify-self: right;
}

.sprite.csharp_webp {
    background-position: 0 -387px;
    width: 48px;
    height: 54px;
    justify-self: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 80%;
    margin: var(--margin-2);
}

.main-content {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.main-content p {
    font-size: 1.2rem;
}

.connector {
    display: none;
}

.new-account h2 {
    text-align: center;
    padding: var(--padding-1);
}

/* section:roadmap */

.heading {
    padding: var(--padding-1);
    color: var(--white-tone);
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.gridmap {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, var(--black-tone) 1px, rgba(0, 0, 0, 0) 1px);
}

.grid-roadmap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3.5rem;
    justify-items: center;
}

.path {
    background-color: var(--white-tone);
    max-width: 380px;
    height: auto;
    border: 1px solid var(--gray-tone);
    border-radius: var(--radius);
    padding: var(--padding-1);
    box-shadow: 1px 1px 14px #dedede;
}

.path::before {
    content: url(../images/mac-os-traffic-light.webp);
    margin: -10px;
}

.path ul li {
    font-family: var(--content);
    padding: var(--padding-0);
    font-size: 0.8em;
}

.path ul li::before {
    content: "> ";
}

.path .topic-content {
    background-color: var(--black-tone);
    color: var(--white-tone);
    border-radius: 6px;
}

.path ul li:hover {
    cursor: progress;
    color: var(--highlighted);
}

.path:hover {
    background-color: var(--highlighted);
}

.path div {
    display: flex;
    flex-direction: row-reverse;
}

.path .level {
    font-size: 0.8rem;
    border-radius: var(--radius);
    font-weight: bold;
}

.path .points::before {
    content: "+";
}

.path .points {
    color: #134713;
}

.path .beginner {
    color: #134713;
}

.path .intermediate {
    color: #2c1288;
}

.path .advanced {
    color: purple;
}

.path:last-child,
.path:nth-last-child(2) {
    margin-bottom: 2rem;
}

.selector {
    font-family: var(--content);
    border-radius: var(--radius);
}

.selector li:has(> .unfold) {
    background-color: var(--primary-color);
    color: var(--white-tone);
}

.selector .unfold::after {
    background-image: url('../images/unfold.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
}

.selector ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.selector ul li {
    border: 1px inset var(--black-tone);
    padding: var(--padding-0) var(--padding-1);
    font-size: var(--font-size-1);
    background-color: var(--highlighted);
    font-weight: 600;
    width: auto;
    margin: 1.5rem var(--margin-1);
}

.roadmap-filter {
    margin: 0 auto;
    max-width: 800px;
}

/* section: faq */

.faq {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.faq h2 {
    margin: 2.5rem 0;
}

.faq details {
    font-family: var(--headline);
    padding: var(--padding-1);
    box-shadow: 1px 1px 14px #dedede;
    margin-bottom: var(--margin-2);
    border-radius: var(--radius);
    z-index: 1;
    background-color: var(--white-tone);
}

.faq details:hover {
    background-color: var(--highlighted);
}

.faq details p {
    text-indent: 1.5rem;
    line-height: 1.6;
}

/* section: newsletters */

.newsletters {
    display: flex;
    flex-direction: column;
}

.newsletters div h2 {
    padding: var(--padding-1);
}

.newsletters img {
    width: 100%;
    height: auto;
}

form.news {
    display: flex;
    flex-direction: column;
}

/* section:table */

.table h2 {
    text-align: center;
    padding: var(--padding-1);
}

.comparative {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: var(--font-size-1);
    font-family: var(--content);
}

.comparative .header {
    font-weight: bold;
    padding: var(--padding-1);
    text-align: center;
    border-bottom: 1px solid var(--graytone);
    border-right: 1px solid var(--graytone);
}

.comparative .header:nth-child(2) {
    background-color: var(--primary-color);
    color: var(--white-tone);
}

.comparative .header:nth-child(3) {
    border-right: none;
    background-color: var(--highlighted);
}

.comparative .feature {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid var(--graytone);
    border-right: 1px solid var(--graytone);
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparative .value {
    padding: 10px;
    border-bottom: 1px solid var(--graytone);
    border-right: 1px solid var(--graytone);
    padding: 2rem;
    text-align: center;
}

.comparative .btn-choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparative .value:nth-child(even) {
    background-color: #f6f9ff;
}

@media (max-width: 600px) {
    .comparative {
        grid-template-columns: 1fr;
    }

    .header,
    .feature,
    .value {
        border-right: none;
        text-align: left;
    }

    .header:first-child {
        display: none;
    }

    .feature::after {
        content: ":";
        font-weight: bold;
        margin-left: 5px;
    }

    .value {
        padding-left: 20px;
    }
}

/* section: subscription */

.subscription {
    max-width: 800px;
    margin: 0 auto;
}

.heading-subscription {
    text-align: center;
    color: var(--white-tone);
    background-color: var(--secondary-color);
    padding: var(--padding-1);
}

.subscription h3 {
    padding: var(--padding-1);
}

.subscription p {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.subscription p span {
    font-size: var(--font-size-1);
    font-family: var(--content);
    font-weight: bold;
}

.subscription p span:hover {
    cursor: var(--cursor);
    color: var(--highlighted);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white-tone);
}

footer a {
    color: var(--white-tone);
}

footer .logotype {
    text-align: center;
}

footer img {
    max-width: 230px;
    height: 230px;
}

footer ul li {
    padding: var(--padding-1);
}

footer .links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-logo a:hover {
    mix-blend-mode: luminosity;
}

footer .footer-logo .rrss {
    width: 48px;
    height: auto;
    mix-blend-mode: difference;
    margin: 0 1rem;
}


footer .author {
    display: grid;
    justify-items: center;
    font-size: var(--font-size-1);
    font-family: var(--content);
    padding: var(--padding-1);
    border-top: 1px solid var(--white-tone);
    margin-top: var(--margin-1);
}
