:root {
    --primary-color: #191970;
    --secondary-color: #D3D3D3;
    --black-tone: #000;
    --white-tone: #fff;
    --headline: "Roboto", sans-serif;
    --content: "Montserrat", sans-serif;
    --highlighted: #FF8C00;
}

* {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: underline;
    text-decoration-color: var(--highlighted);
}

body {
    display: grid;
    grid-template: auto auto 10% / auto auto auto;
    height: 100vh;
}

header {
    grid-column: 1 / 4;
    background-color: var(--primary-color);
    color: var(--white-tone);
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}

nav {
    padding: 1rem;
    background-color: var(--black-tone);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: var(--headline);
    font-weight: 400;
    padding: 2rem
}

p {
    font-family: var(--content);
    padding: 10px;
}

h1 b {
    color: var(--highlighted);
}

nav a {
    padding: 10px;
    text-decoration: none;
    font-family: var(--headline);
    font-weight: 500;
    color: var(--white-tone);
}

nav a:hover {
    background-color: var(--highlighted);
}


main {
    grid-column: 1 / 4;
    background-color: var(--white-tone);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 15px;
}

.card {
    border: 1px solid #dedede;
    border-radius: 16px;
    margin: 15px 10px 15px 10px;
    display: grid;
    grid-template-rows: 50px repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-family: var(--content);
}

.card .header {
    order: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    grid-row: 1/1;
    grid-column: 1 / span 3;
    background-color: var(--primary-color);
    color: var(--white-tone);
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    display: grid;
    align-items: center;
}

.card .biography {
    order: 1;
    text-indent: 1rem;
    grid-column: span 2;
}

.card h2 {
    order: 4;
    grid-column: span 2;
    text-align: center;
    border-bottom: 1px solid var(--highlighted);
}

.card .profile-picture {
    order: 2;
    grid-row: span 2;
    border: 1px solid gray;
    width: 200px;
    height: auto;
}

.card .flag {
    order: 4;
}

.card .country {
    text-indent: 1rem;
    order: 5;
    grid-column: span 2;
}

.card ul {
    display: grid;
    align-content: center;
    list-style: circle;
}

.card ul li {
    padding: 10px;
    font-weight: 600;
    color: var(--black-tone);
}

footer {
    display: grid;
    align-content: center;
    text-align: center;
    grid-column: 1 / 4;
    color: var(--white-tone);
    background-color: var(--primary-color);
}