:root {
    --white-tone: #fff;
}

@media (min-width: 32.5em) {}

@media (min-width: 64em) {
    span.material-symbols-outlined {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav a {
        padding: 0.6rem;
        background-color: var(--primary-color);
        color: var(--white-tone);
    }
}